<!doctype html>
<html>
<head>
    <title>Telc - Test results</title>
    <link rel = 'stylesheet' type = "text/css" href = './assets/style.css'/>
</head>
<body>
    <div class = 'main_block'>
        <div class = 'background-exp_reg'>
        <div class = 'logo_block'>
            <img class = 'logo' src = './assets/logo.png'/>
        </div>
        <div class = 'registration_block'>
            <form class = 'registration' method = 'post' action = '/registration'>
                <input class = 'textfield_reg' name = 'vorname' type = 'text' placeholder = 'Vorname...'/>
                <input class = 'textfield_reg' name = 'nachname' type = 'text' placeholder = 'Nachname...'/>
                <input class = 'textfield_reg' name = 'benutzername' type = 'text' placeholder = 'Benutzername...'/>
                <input class = 'textfield_reg' name = 'passwort' type = 'password' placeholder = 'Passwort...'/>
                <input class = 'textfield_reg' name = 'email' type = 'email' placeholder = 'Email...'/>
                <input class = 'textfield_reg' name = 'kundennummer' type = 'text' maxlength = '6' placeholder = 'Kundennummer...'/>
                <button class = 'send' type = 'submit'>Daten senden</button>
            </form>
        </div>
        </div>
    </div>
    <div class = 'error_block'>
        <% if(unsc === 'True'){ %>
            <p class = 'error'>Bitte fuhlen Sie alle Felder aus!</p>
        <% }else{ %>
            
        <% } %>
    </div>
</body>
</html>